<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tech Specs Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">Tech Specs Blog</a>
      </h1>
      <nav>
        <a href="/">Homepage</a>
        {{#if logged_in}}
        <a href="/profile">My Dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">My Dashboard</a>
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>
  <nav>
    <a href="/">Homepage</a>
    {{#if logged_in}}
    <a href="/profile">My Dashboard</a>
    <button class="no-button" id="logout">Logout</button>
    {{else}}
    <a href="/login">My Dashboard</a>
    <a href="/login">Login</a>
    {{/if}}
  </nav>
</html>