    <form>
      <div>
        <label>Add comment:</label>
        <textarea data-post-id={{id}} type="text" id="comment-text" name="comment-text"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>