<div>
  <div>
    <h2>Sign In to Get Writing</h2>

    <form class="form signin-form">
      <div>
        <label for="email-login">email:</label>
        <input class="signin" type="text" id="email-login" />
      </div>
      <div>
        <label for="psswrd-login">password:</label>
        <input class="signin" type="password" id="psswrd-login" />
      </div>
      <div>
        <button class="signin" class="btn" type="submit">Login!</button>
      </div>
    </form>
  </div>
  <div>
    <h2>Sign Up to Join the Fun</h2>

    <form class="form signup-form">
      <div>
        <label for="name-signup">name:</label>
        <input class="signup" type="text" id="name-signup" />
      </div>
      <div>
        <label for="email-signup">email:</label>
        <input class="signup" type="text" id="email-signup" />
      </div>
      <div>
        <label for="psswrd-signup">password:</label>
        <input class="signup" type="password" id="psswrd-signup" />
      </div>
      <div>
        <button type="submit">Signup!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
